/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.main-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-right: 272px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 16px;
  font-size: 20px;
  color: #3D37F1;
}
.imglogo {
  margin-top: 42px;
  margin-left: 132px;
  margin-right: 400px;
}
.same {
  margin-right: 40px;
  margin-top: 20px;
}
.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 270px;
}
.txt-head {
  color: #534D4D;
  font-size: 78px;
  margin-left: 132px;
  width: 587px;
}
.txt {
  color: #534D4D;
  font-size: 22px;
  margin-left: 132px;
  margin-top: 50px;
}
.txt1 {
  color: #FFFFFF;
  font-size: 23px;
  margin-left: 28px;
}
.txt1-box {
  background-color: #3D37F1;
  width: 264px;
  height: 78px;
  border-radius: 50px 50px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 132px;
  margin-top: 130px;
}
.sectionDiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rightblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.maindiv {
  width: 1170px;
  height: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.minimizebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 67px;
  margin-top: 85px;
  margin: 0 auto;
}
.boxhead {
  color: #3D37F1;
  font-size: 20px;
  height: 16px;
}
.boxhead1{
  font-size: 40px;
  height: 39px;
  color: #5A5454;
  margin-top: 12px;
}
.Ptxt {
  color: #747474;
  margin-top: 20px;
  font-size: 18px;
  width: 702px;
  text-align: center;
}
.block {
  width: 370px;
  height: 451px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  
}
.block:first-child {
  background-color: #FBBA77;
  margin-bottom: 30px;
}
.block:nth-child(2) {
  background-color: #41EAE3;
  margin-bottom: 30px;
}
.block:nth-child(3) {
  background-color: #69529F;
  margin-bottom: 30px;
}
.block:nth-child(4) {
  background-color: #4386D2;
}
.block:nth-child(5) {
  background-color: #A5A2F6;
}
.block:last-child {
  background-color: #FF8088;
}
.line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.icon {
  width: 100px;
  height: 100px;
}
.text-block {
  width: 284px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  margin-top: 16px;
}
.middlehead {
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 62px;
}
.circle {
  width: 131px;
  height: 45px;
  color: #FFFFFF;
  border: 2px solid;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.MORE {
  font-size: 15px;
  color: #4B647E;
}
.MORE1 {
  font-size: 15px;
  color: #FFFFFF;
}
.get-size {
  width: 620px;
}
.block:hover {
  -webkit-box-shadow: 6px 12px 20px #04ff00;
          box-shadow: 6px 12px 20px #04ff00;
}